
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --dark-primary: rgb(21, 8, 30);
    --blue-primary: rgb(143, 30, 249);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    
}

.header-sec{
    background-color: var(--dark-primary);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    
   
}

.logo{
    padding-top: 10px;
}



.logo1{
    
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    
    
   
    
}
.logo2{
    
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--blue-primary);
    
    
   
    
}

.linkers{
    padding-top: 10px;
}

header ul
{
    display: flex;
    list-style: none;
    
}

header ul li{
    margin-right: 20px;

}

header ul li a{
    color: white;
    text-decoration: none;
  
}
header ul li a:hover{
    color: var(--blue-primary);
    
}

header button{
    padding: 10px 20px;
    font-weight: medium;
    font-size: x-small;
    letter-spacing: 2px;
    background-color: var(--dark-primary);
    color: var(--blue-primary);
    border: 1px solid var(--blue-primary);
    border-radius: 5px;
    box-shadow: 15px 15px 30px rgb(36, 13, 57);


    
}

header button:hover{
   
    color: rgb(215, 172, 255);
    cursor: pointer;
    border-color: rgb(215, 172, 255);
    box-shadow: 3px 3px 15px 1px rgb(77, 31, 120) inset , 15px 15px 30px rgb(62, 23, 98);
    
}

.hero-sec{
    background-color: var(--dark-primary);
    color: white;
    display: flex;
    padding: 0px 250px 0px 250px;
    align-items: center;
    justify-content: center;
}

.hero-sec__subti{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10x;
}
.hero-sec__title{
    font-size: 35px;
    color: var(--blue-primary);
    
    text-shadow: 5px 5px 30px rgb(132, 0, 255);
}
.hero-sec__title span{
    color: white;
    text-shadow: 5px 5px 30px rgb(171, 171, 171);
}
.hero-sec__desc{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(240, 223, 255);
    padding-top: 5px;
}

.social-icones{
    list-style: none;
    display: flex;
    letter-spacing: 15px;
    padding-top: 10px;
}
.social-icones li a:hover{
    color: white;
}

.social-icones li a{
    text-decoration: none;
    
    
    color: var(--blue-primary);
    font-size: small;

}

.butt{
    padding: 10px 20px;
    font-weight: medium;
    font-size: x-small;
    letter-spacing: 2px;
    background-color: var(--dark-primary);
    color: var(--blue-primary);
    border: 1px solid var(--blue-primary);
    border-radius: 5px;
    box-shadow: 15px 15px 30px rgb(36, 13, 57);
    margin-top: 20px;
}

.butt:hover{
   
    color: rgb(215, 172, 255);
    cursor: pointer;
    border-color: rgb(215, 172, 255);
    box-shadow: 3px 3px 15px 1px rgb(77, 31, 120) inset , 15px 15px 30px rgb(62, 23, 98);


    
  

   
}
.about-sec{
    display: flex;
    background-color: rgb(28, 15, 39);
    color: white;
    justify-content: space-evenly;
    padding: 40px 40px;
    vertical-align: middle;
}
.about-sec__img{
    margin-left: 20px;
    margin-top: 0px;
    
 
}
.about-sec__img img{
    border-radius: 50%;
}
.about-sec__main{
    vertical-align: middle;
    margin-top: 60px;
}
.about-sec__cont{
    list-style: none;
}
.about-sec__butt{
    border-radius: 5px;
    border: none;
    background-color: var(--blue-primary);
    color: white;
    padding: 10px 15px;
    font-weight: 500;
    font-size: x-small;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgb(216, 176, 255);
    box-shadow: 3px 3px 25px 1px rgb(77, 31, 120) inset , 15px 15px 30px rgb(36, 13, 57);
}
.about-sec__butt:hover{
    cursor: pointer;
    box-shadow: 3px 3px 25px 1px rgb(77, 31, 120) inset , 15px 15px 30px rgb(62, 23, 98);
}