* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    background-color: rgb(28, 28, 28);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
}