
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
    --dark-primary: rgb(28, 28, 28);
    --blue-primary: rgb(30, 121, 249);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    
}
header
{
    background-color: var(--dark-primary);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
}

ul
{
    display: flex;
    list-style: none;
    
}

ul li{
    margin-right: 20px;

}

ul li a{
    color: white;
    text-decoration: none;
  
}

header button{
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--dark-primary);
    color: var(--blue-primary);
    border: 1px solid var(--blue-primary);
    border-radius: 5px;


    
}